.header {
    background-color: #3a5a40;
    color: white;
    font-family: 'Unna', serif;
}

.header-container {
    display: flex;
    flex-direction: column;
}

.menu-bar {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.logo {
    font-size: 40px;
    padding: 0px;
    margin: 0px;
    color: #A3B18A;
}

.menu-items {
   list-style: none;
}

li {
    display: inline-block;
    margin-right: 10px;
}

li:hover {
    color: #A3B18A;
}

.header-content {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.welcome-text {
    max-width: 350px;
    margin-right: 10px;
}

.header-img {
    max-width: 350px;
    height: auto;
}

.tile-holder {
    background-color: #DAD7CD;
    font-family: 'Abhaya Libre', serif;
}

.quote-holder {
    background-color: #A3B18A;
    color: #344e41;
    font-family: 'Abhaya Libre', serif;
}

.banner-holder {
    background-color: #DAD7CD;
    font-family: 'Abhaya Libre', serif;
}

.footer {
    background-color: #344e41;
    color: white;
    font-family: 'Unna', serif;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;
    max-height: 40px;
}